body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 15px;
    color: #333;
}

input {
    padding: 10px;
    font-size: 13px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Button styles */
button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 26px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-self: center;
}

button:hover {
    background-color: #45a049;
}

/* Table and Result styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

th {
    background-color: #f2f2f2;
}
#result{
    margin-left: 8%;
    margin-right: 8%;
}
#inputFeild{
    margin-left: 6%;
    margin-right: 6%;
}

canvas {
    margin-top: 10px;
    margin-left: 8%;
    margin-right: 8%;
}

header {
    text-align: center;
    background-color: #a7ff8f;
    padding-top: 5px;
    Color:  #044500;
    border-bottom: solid rgb(0, 67, 22) 3px;
    border-left: solid blue 1px;
    border-top: solid blue 1px;
    border-bottom-left-radius: 12%;
    border-bottom-right-radius: 12%;
}

.btn{
    margin-left: 50%;
}

#macroNutrientsChart {
    height: 140px;
    width: 100%;
}
